anyio==anyio
appnope==appnope
argon2-cffi==argon2-cffi
argon2-cffi-bindings==argon2-cffi-bindings
arrow-cpp==arrow-cpp
asttokens==asttokens
async-lru==async-lru
attrs==attrs
aws-c-auth==aws-c-auth
aws-c-cal==aws-c-cal
aws-c-common==aws-c-common
aws-c-compression==aws-c-compression
aws-c-event-stream==aws-c-event-stream
aws-c-http==aws-c-http
aws-c-io==aws-c-io
aws-c-mqtt==aws-c-mqtt
aws-c-s3==aws-c-s3
aws-c-sdkutils==aws-c-sdkutils
aws-checksums==aws-checksums
aws-crt-cpp==aws-crt-cpp
aws-sdk-cpp==aws-sdk-cpp
babel==babel
beautifulsoup4==beautifulsoup4
blas==blas
bleach==bleach
bokeh==bokeh
boost-cpp==boost-cpp
bottleneck==bottleneck
brotli-python==brotli-python
bzip2==bzip2
c-ares==c-ares
ca-certificates==ca-certificates
cartopy==cartopy
certifi==certifi
cffi==cffi
cftime==cftime
charset-normalizer==charset-normalizer
click==click
cloudpickle==cloudpickle
cmcrameri==cmcrameri
comm==comm
contourpy==contourpy
cycler==cycler
cyrus-sasl==cyrus-sasl
cytoolz==cytoolz
dask==dask
dask-core==dask-core
dask-expr==dask-expr
debugpy==debugpy
decorator==decorator
defusedxml==defusedxml
deprecated==deprecated
distributed==distributed
executing==executing
expat==expat
filelock==filelock
fonttools==fonttools
freetype==freetype
fsspec==fsspec
geos==geos
gettext==gettext
gflags==gflags
glib==glib
glib-tools==glib-tools
glog==glog
gpytorch==gpytorch
gst-plugins-base==gst-plugins-base
gstreamer==gstreamer
h11==h11
h5py==h5py
hdf4==hdf4
hdf5==hdf5
heapdict==heapdict
httpcore==httpcore
httpx==httpx
icu==icu
idna==idna
importlib-metadata==importlib-metadata
ipykernel==ipykernel
ipython==ipython
ipywidgets==ipywidgets
jedi==jedi
jinja2==jinja2
joblib==joblib
jpeg==jpeg
json5==json5
jsonschema==jsonschema
jsonschema-specifications==jsonschema-specifications
jupyter==jupyter
jupyter-lsp==jupyter-lsp
jupyter_client==jupyter_client
jupyter_console==jupyter_console
jupyter_core==jupyter_core
jupyter_events==jupyter_events
jupyter_server==jupyter_server
jupyter_server_terminals==jupyter_server_terminals
jupyterlab==jupyterlab
jupyterlab_pygments==jupyterlab_pygments
jupyterlab_server==jupyterlab_server
jupyterlab_widgets==jupyterlab_widgets
kiwisolver==kiwisolver
krb5==krb5
lcms2==lcms2
lerc==lerc
libabseil==libabseil
libboost==libboost
libbrotlicommon==libbrotlicommon
libbrotlidec==libbrotlidec
libbrotlienc==libbrotlienc
libclang==libclang
libclang13==libclang13
libcurl==libcurl
libcxx==libcxx
libdeflate==libdeflate
libedit==libedit
libev==libev
libevent==libevent
libffi==libffi
libgfortran==libgfortran
libgfortran5==libgfortran5
libglib==libglib
libgrpc==libgrpc
libiconv==libiconv
libllvm14==libllvm14
libnetcdf==libnetcdf
libnghttp2==libnghttp2
libopenblas==libopenblas
libpng==libpng
libpq==libpq
libprotobuf==libprotobuf
libsodium==libsodium
libssh2==libssh2
libthrift==libthrift
libtiff==libtiff
libtorch==libtorch
libuv==libuv
libwebp-base==libwebp-base
libxml2==libxml2
libzip==libzip
linear_operator==linear_operator
llvm-openmp==llvm-openmp
llvmlite==llvmlite
locket==locket
lz4==lz4
lz4-c==lz4-c
markupsafe==markupsafe
matplotlib==matplotlib
matplotlib-base==matplotlib-base
matplotlib-inline==matplotlib-inline
mistune==mistune
mpmath==mpmath
msgpack-python==msgpack-python
mysql==mysql
nbclient==nbclient
nbconvert==nbconvert
nbformat==nbformat
ncurses==ncurses
nest-asyncio==nest-asyncio
netcdf4==netcdf4
networkx==networkx
nomkl==nomkl
notebook==notebook
notebook-shim==notebook-shim
numba==numba
numexpr==numexpr
numpy==numpy
numpy-base==numpy-base
openjpeg==openjpeg
openldap==openldap
openssl==openssl
opentelemetry-api==opentelemetry-api
orc==orc
overrides==overrides
packaging==packaging
pandas==pandas
pandocfilters==pandocfilters
parso==parso
partd==partd
patsy==patsy
pcre2==pcre2
pexpect==pexpect
pillow==pillow
pip==pip
platformdirs==platformdirs
ply==ply
proj==proj
prometheus_client==prometheus_client
prompt-toolkit==prompt-toolkit
prompt_toolkit==prompt_toolkit
properscoring==properscoring
psutil==psutil
ptyprocess==ptyprocess
pure_eval==pure_eval
pyarrow==pyarrow
pycparser==pycparser
pygments==pygments
pyparsing==pyparsing
pyproj==pyproj
pyqt==pyqt
pyqt5-sip==pyqt5-sip
pyshp==pyshp
pysocks==pysocks
python==python
python-dateutil==python-dateutil
python-fastjsonschema==python-fastjsonschema
python-json-logger==python-json-logger
python-lmdb==python-lmdb
python-tzdata==python-tzdata
pytorch==pytorch
pytz==pytz
pyyaml==pyyaml
pyzmq==pyzmq
qt-main==qt-main
qtconsole==qtconsole
qtpy==qtpy
re2==re2
readline==readline
referencing==referencing
requests==requests
rfc3339-validator==rfc3339-validator
rfc3986-validator==rfc3986-validator
rpds-py==rpds-py
scikit-learn==scikit-learn
scipy==scipy
send2trash==send2trash
setuptools==setuptools
shapely==shapely
sip==sip
six==six
sleef==sleef
snappy==snappy
sniffio==sniffio
sortedcontainers==sortedcontainers
soupsieve==soupsieve
sqlite==sqlite
stack_data==stack_data
statsmodels==statsmodels
sympy==sympy
tbb==tbb
tblib==tblib
terminado==terminado
threadpoolctl==threadpoolctl
tinycss2==tinycss2
tk==tk
toolz==toolz
tornado==tornado
tqdm==tqdm
traitlets==traitlets
typing-extensions==typing-extensions
typing_extensions==typing_extensions
tzdata==tzdata
unicodedata2==unicodedata2
urllib3==urllib3
utf8proc==utf8proc
wcwidth==wcwidth
webencodings==webencodings
websocket-client==websocket-client
wheel==wheel
widgetsnbextension==widgetsnbextension
wrapt==wrapt
xarray==xarray
xhistogram==xhistogram
xitorch==xitorch
xskillscore==xskillscore
xyzservices==xyzservices
xz==xz
yaml==yaml
zeromq==zeromq
zict==zict
zipp==zipp
zlib==zlib
zstd==zstd
